<app-sidebar></app-sidebar>
<div class="p-4 sm:ml-64">
  <div
    class="p-4 h-auto border-2 border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 mt-14"
  >
    <div class="m-6">
      <h1 class="text-left italic text-amber-700 text-5xl m-2 font-bold">
        Datos de Motocicleta
      </h1>
    </div>
    <form [formGroup]="dataBike">
      <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div class="relative">
          <label
            for="licensePlate"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Placa
          </label>
          <input
          [readonly]="enabledLicenseplate"
            type="text"
            id="licensePlate"
            formControlName="licensePlate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="John"
            required
          />
          <button (click)="toggleEnableLicenseplate()"  type="submit" class="absolute top-7 end-0 p-2 text-sm  text-black  rounded-e-lg border border-blue-700 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z"/>
              </svg>
          </button>
        </div>
        <div class="relative">
          <label
            for="brand"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Marca
          </label>
          <input
          [readOnly]="enabledBrand"
            type="text"
            id="brand"
            formControlName="brand"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Doe"
            required
          />
          <button (click)="toggleEnableBrand()"  type="submit" class="absolute top-7 end-0 p-2 text-sm  text-black  rounded-e-lg border border-blue-700 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z"/>
              </svg>
          </button>
        </div>
        <div class="relative">
          <label
            for="reference"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Referencia
          </label>
          <input
          [readOnly]="enabledReference"
            type="text"
            id="reference"
            formControlName="reference"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Doe"
            required
          />
          <button (click)="toggleEnableReference()" type="submit" class="absolute top-7 end-0 p-2 text-sm  text-black  rounded-e-lg border border-blue-700 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z"/>
              </svg>
          </button>
        </div>
        <div class="relative">
          <label
            for="dateModel"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Modelo
          </label>

          <input
          [readOnly]="enabledDateModel"
            type="text"
            id="dateModel"
            formControlName="dateModel"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="john.doe@company.com"
            required
          />
          <button (click)="toggleEnableDateModel()" type="submit" class="absolute top-7 end-0 p-2 text-sm  text-black  rounded-e-lg border border-blue-700 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z"/>
              </svg>
          </button>
        </div>
        <div class="relative">
          <label
            for="displacement"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Cilindraje
          </label>

          <input
          [readOnly]="enabledDisplacement"
            type="text"
            id="displacement"
            formControlName="displacement"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="john.doe@company.com"
            required
          />
          <button (click)="toggleEnableDisplacement()" type="submit" class="absolute top-7 end-0 p-2 text-sm  text-black  rounded-e-lg border border-blue-700 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z"/>
              </svg>
          </button>
        </div>
        <div class="relative">
          <label
            for="mileage"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Kilometraje
          </label>

          <input
          [readOnly]="enabledMileage"
            type="text"
            id="mileage"
            formControlName="mileage"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="john.doe@company.com"
            required
          />
          <button (click)="toggleEnableMileage()" type="submit" class="absolute top-7 end-0 p-2 text-sm  text-black  rounded-e-lg border border-blue-700 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z"/>
              </svg>
          </button>
        </div>
        <div class="relative">
          <label
            for="user"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Dueño
          </label>

          @if (enabledUser) {
            <input
          [readOnly]="enabledUser"
            type="text"
            id="user"
            formControlName="user"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="john.doe@company.com"
            required
          />
          <button (click)="toggleEnableUser()" type="submit" class="absolute top-7 end-0 p-2 text-sm  text-black  rounded-e-lg border border-blue-700 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z"/>
              </svg>
          </button>

          }@else {
            <div class="mb-6">
              <label for="user" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Seleccione el  usuario
              </label>
              <select id="user"
              formControlName="user"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  @for (item of listUsers; track item.id) {
                      <option value="{{item.id}}">{{ item.name +" "+ item.lastName}}</option>
                  }
              </select>
          </div>
          }
          
        </div>
      </div>
    </form>

    @if (enableSaveChanges) {
      <button type="button" (click)="updateServices()"  class="text-white sm:float-right bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Guardar Cambios</button>
    }

    <div class="">
      <h3 class="text-left italic text-amber-700 text-3xl m-2 font-bold">
        Servicios:
      </h3>
    </div>

    <div class="ml-10 mt-3 border-2 border-y-yellow-400">
      
      @if (mListService.length) { 
        <dl class="max-w-4xl p-5 text-gray-900 divide-y divide-gray-700 dark:text-white dark:divide-gray-700">
        @for (item of mListService; track item.id) {
          <a class=" cursor-pointer" (click)="redirection(item.id)" title="Ver detalles del servicio">
            <div class="flex flex-col pb-3 border-b-black border-2">
              <dt class="mb-1 text-gray-500 md:text-g dark:text-gray-400">{{item.dateAdmission+" / "+item.departureDate}}</dt>
              <dd class="text-lg font-semibold">{{item.name}}</dd>
          </div>
          </a>
      } 
    </dl>
    }
      
      @else {
      <div
        class="flex items-center p-4 mb-4 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800"
        role="alert"
      >
        <svg
          class="flex-shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium"
            >La Motocicleta no tiene servicios registrados.</span
          >
        </div>
      </div>
      }
      </div>
  </div>
</div>
